#character-page {
  width: 100%;
  height: 100%;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#command-line {
  container-type: inline-size;
  width: min(730px, 95%);
  margin-top: 35vh;
}

#command-input-wrapper {
  container-type: inline-size;

  position: relative;

  margin-top: auto;

  width: min(730px, 95%);
  aspect-ratio: 2/0.16;

  animation: fade-in 1s;
}
#command-input {
  width: 100%;
  height: 100%;
  padding-left: 9%;

  background: rgba(179, 179, 179, 0.233);
  border-radius: 2cqw;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

  font-family: "Anonymous Pro", sans-serif;
  font-size: max(16px, 2.5cqw);
  font-weight: bold;
  color: rgb(75, 75, 75);

  transition: box-shadow 0.3s;
}
#command-input::placeholder {
  font-weight: normal;

  user-select: none;
}
#command-input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}
#command-input-icon {
  position: absolute;
  left: 1%;
  top: 50%;
  translate: 0 -50%;
  width: 6%;

  user-select: none;
}

#command-input-autocomplete {
  margin-left: 9%;

  position: absolute;
  top: 0;

  width: calc(100% - 9%);
  height: 100%;

  display: flex;
  align-items: center;
  font-weight: normal;

  pointer-events: none;

  font-family: "Anonymous Pro", sans-serif;
  font-size: max(16px, 2.5cqw);
  font-weight: bold;
  color: rgb(105, 105, 105);
}

#command-log {
  width: 100%;
  aspect-ratio: 2/0.4;
  overflow-y: auto;
  overflow-x: visible;

  margin-top: 10px;

  font-size: max(16px, 2.5cqw);
  font-family: "Anonymous Pro", monospace;
}
#command-log p {
  width: fit-content;
  transition: transform 0.1s;
}
#command-log p:hover {
  transform: translateX(2%);
  cursor: default;
}

#bottom-grid {
  width: min(800px, 95%);
  height: 200px;

  margin-top: auto;

  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

/* HEALTH ORB COMPONENT START */
.orb-component {
  width: 99%;
  aspect-ratio: 1/1;
}
#health-orb {
  width: 100%;
  aspect-ratio: 1;
  border: solid;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
#health-orb:active {
  transform: scale(0.95);
}
.orb-fluid {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: grey;
  height: 0%;
  transition: 0.3s;
  border-top: dashed 1px tomato;
}
#health-orb .orb-fluid {
  background: #eb4034;
}
.orb-number {
  user-select: none;
  z-index: 1;
  font-size: calc(var(--component-width) * 0.2);
  color: rgb(255, 215, 0);
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}
