:root {
  --value-l: 40px;
  --margin-l: 40px;
  --margin-m: 20px;
  --margin-s: 10px;

  --font-l: 60px;
  --font-m: 30px;
  --font-sm: 25px;
  --font-s: 20px;
  --font-xs: 16px;
}

.hidden {
  display: none !important;
}

.fade-in {
  animation: fade-in 0.3s ease forwards;
}

.rise {
  animation: rise 0.3s ease forwards;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bold {
  font-weight: bold;
}
.italicized {
  font-style: italic;
}
.secondary-text {
  color: rgb(75, 75, 75);
}

.btn {
  background: rgb(255, 255, 255);
  width: 150px;
  height: 50px;
  border-radius: 8px;
  font-size: var(--font-xs);
  font-weight: 600;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

  &:active {
    box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.2);
    scale: 0.98;
  }
}

.btn.scale {
  container-type: inline-size;
  font-size: max(0.8cqw, 12px);
  width: 40%;
  height: auto;
  aspect-ratio: 3/1;
}
