:root {
  --value-l: 40px;
  --margin-l: 40px;
  --margin-m: 20px;
  --margin-s: 10px;

  --font-l: 60px;
  --font-m: 30px;
  --font-sm: 25px;
  --font-s: 20px;
  --font-xs: 16px;
}

.hidden {
  display: none !important;
}

.fade-in {
  animation: fade-in 0.3s ease forwards;
}

.rise {
  animation: rise 0.3s ease forwards;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bold {
  font-weight: bold;
}
.italicized {
  font-style: italic;
}
.secondary-text {
  color: rgb(75, 75, 75);
}
